*{
    margin: 0;
    padding: 0 auto;
}

header, main, footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: antiquewhite;
    height: 20vh;
}
main{
    height: 60vh;
}
div{
    width: 70%;
    height: 100%;
    
}
section{
    background-color: gray;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: cadetblue;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    background-color: burlywood;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: antiquewhite;
    height: 20vh;
}
